.App {
  text-align: center;
  background-color: honeydew;
  height: 120vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color:ghostwhite;
}

.App-intro {
  /* font-size: large; */
}

.search {
  margin-top:8px
}

.btn {
  border: 1px solid black;
  border-radius: 5px;
  background-color: ghostwhite;
  color: black;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  margin: 3px 10px;
}

.delete {
  color: red;
  border-color: red
}

.btn-wide {
  width:70%
}

.title {
  display: block;
  width: 100vw
}

.nav-links {
  display:inline;
}

.list-item {
  border: 1px solid black;
  margin: 5%;
  margin-right: 8%;
  padding-top: 10px;
  background-color: ghostwhite;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background-color: ghostwhite;
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px 0px 8px 8px;
  width: 25vw;
  min-height:210px
}

.nav-button {
  display: inline-block;
  background:none!important;
     color:inherit;
     border:none;
     /* padding:0!important; */
     padding: 20px 16px 0 16px;
     font: inherit;
     cursor: pointer;
     text-decoration: none;
     font-size: 11pt;
     font-weight: bold;
}

.form {
  margin: 5vh 35vw;
  padding: 20px;
  min-width: 80px;
  border: 1px solid black
}

.new-list {
  font-size: 16pt;
  height: 25px;
}

ul {
  list-style: none;
}

input {
  background-color: ghostwhite
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
