.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none;
}

.movie-list {
  display: flex;
  justify-content: space-around;
}

.movie-box {
  width: 40vw
}

.nav-button {
  background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
}

.form {
  margin: 5vh 35vw;
  padding: 20px;
  min-width: 80px;
  border: 1px solid black
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
